accelerate==1.7.0
binpacking>=1.5
datasets>=3.0,<4
deepspeed==0.17.1
numpy>=1.26
peft==0.17.1
pillow>=10.0
torch==2.6.0
torchcodec==0.2
torchvision==0.21.0
tqdm>=4.66
transformers==4.57.0
triton==3.2.0
